body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}
#zoneText {
	position: absolute;
	bottom: 0;
}
#affichageUtilisateur {
	background-color: #bd491A;
	border : solid 3px white;
	border-radius: 10px;

}